.main_container {
    padding: 0px 15px;
    width: 800px;
    margin: 40px auto;
    height: 70px;
}

.current_contact {
    font-weight: 550;
    color: #6a5a49 !important;
}

.chat_form {
    display: flex;
    background-color: #ffedd8;
}

.contacts_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: solid 1px #d9c0a3;
}
.contact_position {
    border-bottom: solid 1px #d9c0a3;
    font-size: 14px;
    color: #856f57;
}

:host /deep/ mat-list-option .mat-list-item-content div {
    flex-direction: row !important;
}

:host /deep/ .contact_position mat-list-option:last-child{
    border-bottom: none;
}

:host /deep/ mat-list-option .mat-list-item-content .contacts_data {
    flex-direction: column !important;
    margin-left: 10px;
}

:host /deep/ mat-list-option .mat-list-item-content .contacts_circle {
    align-self: center;
}

.contacts_circle {
    color: #FFFFFF;
    background-color: #db9849;
    line-height: 25px;
    height: 28px;
    width: 28px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.message_form {
    flex-grow: 2;
    color: #a6937d;
    padding: 5px;
}

.no_contacts {
    text-align: center;
    Align-self: center;
}

.new_chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat {
    margin: 0px 15px;
    overflow: auto;
    max-height: 500px;
}

.chat_flex {
    display: flex;
    flex-direction: column;
}

.chat_button textarea{
    border: none;
    color: #6a5a49;
    max-height: 150px;
    overflow:auto !important;
}

::-webkit-scrollbar{
    background-color: #fff8ef;
    width: 4px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #a6937d;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#eed8be
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#eed8be;
}

.chat_button {
    display: flex;
    border-top: solid 1px #eed8be;
}

:host /deep/  .chat_button mat-form-field .mat-form-field-underline {
    bottom: 0px !important;
}

:host /deep/ .chat_button mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

input {
    outline:none;
}

.message_for_me {
    text-align: left;
    align-self: flex-start;
}

.message_from_me {
    text-align: right;
    align-self: flex-end;
}

.message_style {
    width: 60%;
    background-color: #fff8ef;
    border-radius: 8px;
    padding: 7px 11px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.flex_date_contact {
    display: flex;
    justify-content: space-between;
    font-weight: 450;
    font-size: 14px;
    color: #58524c;
}

.data_mail {
    font-size: 12px;
    color: #acaba9;
}

.button_auth {
    height: 37px;
    background-color: #ffedd8;
    color: #856f57;
    font-size: 16px;
    border: solid 1px #eed8be;
    cursor: pointer;
}

:host mat-label{
    color: #a6937d !important;
}

.auth_form_input {
    flex-grow: 2;
    margin-right: 10px;;
}

#section_button {
    align-self: flex-end;
}

:host /deep/ .auth_form_input label {
    padding: 5px;
}

.auth_form_input textarea{
    padding: 5px 0px;
}

:host /deep/ mat-form-field div div {
    background-color: #ffedd8 !important;
}















